<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{URL}}public/assets/stylesheets/app1.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poiret+One&family=Raleway:ital,wght@0,200;0,300;0,400;1,400&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
    <title>Ramakrishna Mission Vivekananda Cultural Centre, Shillong</title>
</head>

<body>
    <!-- header -->
    <section id="header" >
        <div class="container">
            <img src="{{URL}}public/images/logo2.png" class="logo">
            <h2 class="title">Ramakrishna Mission Vivekananda Cultural Centre, Shillong</h2>
            <div class="titleForMobile pt-2">
              <h2><b>Ramakrishna Mission</b></h2>
              <h2>Vivekananda Cultural Centre</h2>
              <h2>Shillong</h2>    
            </div>            
        </div>
    </section>
    <section id="hero">
    </section>
    <section id="sub-header">
        <div class="container">
            <h4 class="text-center py-2 text-muted">46<sup>th</sup> Annual Cultural Competition 2020</h4>
            <div class="line text-center">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
        </div>
    </section>

    <!-- header -->

    <!-- side navbar -->

    <nav id="sideNav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Online Enrollment</a></li>
            <!-- <li><a href="#">Acknowledgement Slip</a></li> -->
            <!-- <li><a href="#">Result</a></li> -->
            <li><a href="#features">Sit & Draw</a></li>
            <li><a href="#features">Debate & Recitation</a></li>
            <!-- <li><a href="#">Program Schedule</a></li> -->
            <li><a href="#">Rules</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <!-- <li><a href="#">Download</a></li> -->
            <li><a href="#footer">Control Panel</a></li>

        </ul>
    </nav>
    <img src="{{URL}}public/images/img/menu.png" id="menuBtn">

    <!-- side navbar -->
    <!-- Features -->
    <section id="features">
        <div class="container">
            <h3 class="event text-center py-2">EVENTS</h3>
            <div class="row text-center">
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/essay-writing.jpg">
                    <h3><a href="#">Essay Writing</a></h3>
                    <p>To be written within 1000 words on a given topic</p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/drew.png">
                    <h3><a href="index2.html">Sit & Draw</a></h3>
                    <p>Students should bring drawing materials. Group V onwards a topic to be given on the spot</p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/debate.jpg">
                    <h3><a href="#">Debate</a></h3>
                    <p>Class IX to college level</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/quiz.jpg">
                    <h3><a href="#">Quiz</a></h3>
                    <p>Class IX to college level</p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/recitattion.jpg">
                    <h3><a href="#">Recitation</a></h3>
                    <p>Only two languages allowed</p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/vocal.jpg">
                    <h3><a href="index2.html">Vocal Music</a></h3>
                    <p>Only spiritual music allowed</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-4">

                </div>
                <div class="col-12 col-md-4">
                    <img src="{{URL}}public/images/img/recitattion.jpg">
                    <h3><a href="#">Elocution</a></h3>
                    <p>Only two languages allowed</p>
                </div>
                <div class="col-12 col-md-4">

                </div>
            </div>
            <div class="features-btn">
                <button class="common-btn">REGISTRATION</button>
            </div>
        </div>
    </section>
    <!-- Features -->
    <!-- About -->
    <section id="about">
        <div class="container">
            <h3 class="text-left m-0">About Annual Cultural Competition</h3>
            <div class="line text-left">
                <span class="line-1"></span>
                <span class="line-1"></span>
                <span class="line-1"></span>
                <span class="line-1"></span>
                <span class="line-1"></span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="owl-carousel owl-theme">
                        <div class="item"><img src="{{URL}}public/images/acc/Recitation1.jpg"></div>
                        <div class="item"><img src="{{URL}}public/images/acc/Recitation4.jpg"></div>
                        <div class="item"><img src="{{URL}}public/images/acc/sit&draw.jpg"></div>
                        <div class="item"><img src="{{URL}}public/images/acc/debate.jpg"></div>
                        <div class="item"><img src="{{URL}}public/images/acc/award.jgp"></div>
                      </div>
                </div>
                <div class="col-12 col-md-6">
                    <p>To encourage the inherents of children, various competitions like Drawing and Painting,
                        Recitation (in English, Hindi, Nepali
                        Bengali and Sanskrit), Debate, Essay, Quiz etc. are organized for Nursery to College-level
                        students. About 3,000 competitors vie for the
                        desired recognitin in various categories every year.
                    </p>
                    <div class="line text-center pb-3">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                    </div>
                    <p class="p-0 m-0">"All the powers in the universe are already ours. It is we who have put our hands
                        before our eyes and cry that it is dark"</p>
                    <p id="quote" class="p-0 m-0 text-right">-Swami Vivekananda</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact -->
    <section id="registration">
        <div class="container my-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2> Registration</h2>
                    <div class="line">
                        <span class="line-1"></span>
                        <span class="line-1"></span>
                        <span class="line-1"></span>
                    </div>
                    <form>
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Contact Number">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder=" Password">
                        <input type="password" placeholder="Confirm Password">
                        <div class="btn-box">
                            <button class="common-btn">Submit</button>
                            <button class="common-btn">Reset</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <img src="{{URL}}public/images/registration.svg">
                </div>

            </div>
        </div>
    </section>



    <!-- Contact -->
     <!-- About -->
     <section id="training">
        <div class="container">
            <h3 class="text-left m-0">Training  Unit</h3>
            <div class="line text-left">
                <span class="line-1"></span>
                <span class="line-1"></span>
                <span class="line-1"></span>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-6">                 
                    <img src="https://rkmshillong.online/public/photo/computer.jpg"  class="img-fluid img-thumbnail">
                    <h4 class="text-center m-0">Online Computer Training</h4>
                </div>
                <div class="col-12 col-md-6">
                    <img src="https://rkmshillong.online/public/photo/art.jpg" class="img-fluid img-thumbnail">
                    <h4 class="text-center m-0">Online Art and Crafts Training</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <!-- Contact -->
    <section id="contact">
        <div class="container my-3">
            <h2 class="m-0"> Donation</h2>
            <div class="line pb-2">
                <span class="line-1"></span>
                <span class="line-1"></span>
                <span class="line-1"></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>There is no entry fee for the Cultural Competition, but you can always extend your helping hand for the future citizens of India!</p>
                    <p class="text-center"><a href="https://www.instamojo.com/@rkmshillong/l01db12c2a76c45598c96c63b29a4ee7f/" rel="im-checkout" data-text="Donate" data-css-style="color:#ffffff; background:#75c26a; width:180px; border-radius:4px"   data-layout="vertical"></a> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section id="footer">
        <div class="container footer-row">
            <hr>
            <div class="footer-left-col">
                <div class="footer-links">
                    <div class="link-title">
                        <h5>Important Links</h5>
                        <a href="https://learn.rkmshillong.org/" target="_blank"> <small>Online Courses</small></a><br>
                        <a href="https://art.rkmshillong.org/" target="_blank"><small>Online Art Class</small></a><br>
                        <a href="https://kajingshai.rkmshillong.org/" target="_blank"><small>Ka Jingshai</small></a><br>
                        <a href="https://belurmath.org/" target="_blank"><small>Belur Math</small></a><br>
                    </div>
                    <div class="link-title">
                        <h5>Activities</h5>
                        <a href="https://belurmath.org/" target="_blank"><small>Ashrama</small></a><br>
                        <a href="https://belurmath.org/" target="_blank"><small>Dispensary</small></a><br>
                        <a href="https://belurmath.org/" target="_blank"><small>Computer Traing Unit</small></a><br>
                        <a href="https://belurmath.org/" target="_blank"><small> Guest House</small></a><br>
                    </div>
                    <div class="link-title">
                        <h5>Be in touch</h5>
                        <small>Dont miss any of our new updates on various other Courses</small><br>
                        <small><i class="fa fa-whatsapp" aria-hidden="true" style="size: 15px;"></i>
                            +918974215740</small>
                    </div>

                </div>
            </div>
            <div class="footer-right-col">
                <div class="footer-info">
                    <div class="copyright-text">
                        <small>© Ramakrishna Mission, Shillong 2020 All rights reserved</small>
                        <a href="https://www.freepik.com/free-photos-vectors/flower">Flower vector created by pch.vector - www.freepik.com</a>
                    </div>
                    <div class="footer-logo">
                        <small>RKMVCC-Development Cell</small>
                    </div>

                </div>
            </div>
    </section>
    <!-- footer -->
    <!-- social Icons -->
    <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/RamakrishnaMissionVivekanandaCulturalCentre/"> <img
                src="{{URL}}public/images/img/facebook.png"></a>
        <a href="https://www.youtube.com/channel/UCYD9WOhn8P53Jazvn3R-CdA" target="_blank"><img
                src="{{URL}}public/images/img/video.png"></a>
        <a href="mailto:name@shillongvcc@rkm.org" target="_blank"><img src="{{URL}}public/images/img/mail.png"></a>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script src="https://js.instamojo.com/v1/button.js"></script> 
    <script src="{{URL}}public/assets/javascript/app.js"></script>
    <script>
        $(document).ready(function(){
          $(".owl-carousel").owlCarousel({
            loop:true,
            autoplay : true,
            autoplayTimeout:4000,
            autoplayHoverPause:true,
            items:1,
            dots: true
          });
        });
      </script>
</body>

</html>