SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On
RewriteBase /

RewriteRule ^sessions/([0-9]+)$ Session/api?sessionid=$1 [L,QSA]
RewriteRule ^Course/([0-9]+)$ Course/page?courseID=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
