{% extends "Template/AppTheme.Light.V1.html" %}
{% block title %}Starter Detail{% endblock %}
{% block body %}
<a class="btn btn-primary" href="{{URL}}starter/show" role="button">Show Starter Details </a>
<span id=id></span><br>
<span id=name></span><br>
<span id=address></span><br>
<span id=phone></span><br>
<span id=email></span><br>
<span id=createdAt></span><br>
<span id=createdBy></span><br>
<span id=createdFrom></span><br>
<span id=modifiedAt></span><br>
<span id=modifiedBy></span><br>
<span id=modifiedFrom></span><br>
<span id=deleted></span><br>
<span id=deletedAt></span><br>
<span id=deletedBy></span><br>
<span id=deletedFrom></span><br>
{% endblock %}