{% extends "Template/appThemeLight.html" %}
{% block title %}Starter{% endblock %}
{% block body %}

<form method="POST" action="../Starter/upload" enctype="multipart/form-data" id="form-teacher" name="form-teacher">
<input class="form-control" type="file" id="file" name="file"><br>
<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="status"></h3>
  <p id="loaded_n_total"></p>


<button type="submit" class="btn btn-info">Upload Now</button>
</form>
{% endblock %}