{% extends "Template/appThemeLight.html" %}
{% block title %}Starter{% endblock %}
{% block body %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,400;1,400&display=swap');
  .owl-carousel{
    width: 100%;
    height: 320px;
    max-height: 330px;
  }

  .owl-carousel .item img{
    float: right;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right:3rem ;
  }
  .owl-dots{
    position: fixed;
    padding: 3rem 1.2rem;
    display: flex !important;
    flex-direction: column;
    transform: translateY(-240px);
  }
  .owl-dots button{
    border-radius: 5rem;
    margin: .3rem 0;
  }
  .owl-dots button span{
    background:coral !important;
    margin: 0rem .6rem !important;
  }
  .owl-dots .active{
    border: 1px solid black !important;
  }
  .owl-dots .active span{
    background: blue !important;
    margin: .3rem .5rem !important;
  }
</style>
  <div class="container">
    <div class="col-6 border" style="height: 600px;">
      <h4>Ramakrishna Mission</h4>
      <div class="owl-carousel owl-theme border">
        <div class="item"><img src="{{URL}}public/images/registration.svg"></div>
        <div class="item"><img src="{{URL}}public/images/registration.svg"></div>
        <div class="item"><img src="{{URL}}public/images/registration.svg"></div>
      </div>
    </div>
    <div class="col-6">
      
    </div>
  </div>
{% endblock %}